/* body {
    background-image: url("../images/myfit.jpeg");
} */

/* .container {
    background-image: url("../images/myfit.jpeg");
    position: absolute; */
    /* or absolute */
    /* top: 0%; */
    /* left: 0%;
    color: white;
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
    width: 100%;
}

#heading{
    position: relative;
    top: 30%;
    left:30%;
} */


